.autocomplete-input__input {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px #dedde0;
    height: 33px;
    padding: 0 8px;
}

.autocomplete-input__input:hover {
    box-shadow: 0 0 0 2px #d1cfd4;
}

.autocomplete-input__input:focus {
    box-shadow: 0 0 0 4px rgba(128, 189, 255, .5), 0 0 0 1px #c6c6c6;
    outline: none;
}

.autocomplete-input__list {
    width: 300px;
    margin-top: 8px;
    padding: 12px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.autocomplete-input__item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;
}

.autocomplete-input__item:not(:last-child) {
    margin-bottom: 10px;
}

.autocomplete-input__text:hover {
    color: #007bff;
}

.autocomplete-input__flag {
    width: 10%;
}
